.idea/
level
erl_crash.dump
log
apps/*/logs
rel/cs
.eunit
deps
ebin
*~
*.swp
*.o
*.beam
*.plt
*.iml
apps/cs/priv/site
tags
ct_run*
ct_default*
ct_log*
variables-ct*
variables-devapi*
jquery*
all_runs.html
index.html
version
dump.rdb
.rebar
